<div style="text-align: center;">
 <h1>
   <!-- Welcome to {{ title }}! -->
    RapiDops
    {{message}}
  </h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/test">Test</a>
        <a class="nav-item nav-link" href="/pipes">Pipes</a>
        <a class="nav-item nav-link" href="/twb">TW Binding</a>
        <a class="nav-item nav-link disabled" href="ngfor">NG For</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-test></app-test> -->
  <!-- <app-template-reference-variables></app-template-reference-variables> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-ng-if-directive></app-ng-if-directive> -->
  <!-- <app-ng-switch-directive></app-ng-switch-directive> -->
  <!-- <app-ng-for-directive></app-ng-for-directive> -->
  <!-- <app-component-interaction (childEvent)="message = $event" [parentData]="name"></app-component-interaction> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-services></app-services> -->
  <app-httpand-observables></app-httpand-observables>


















</div>