<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  {{registrationForm.value | json}}
  <form [formGroup]= "registrationForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Name</label>
      <input formControlName="userName" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" type="email" class="form-control">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input formControlName="phone" type="tel" class="form-control">
    </div>

    <!-- <div class="form-group">
      <select class="custom-select">
        <option selected>I am insterested in</option>
        <option formControlName="topic" *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div> -->

    <div class="form-group">
      <label>Select topic</label>
      <!-- <select class="custom-select" formControlName="topic">
        <option [ngValue]="null" disabled selected>Choose your topic</option>
        <option *ngFor="let topic of topics" [ngValue]="topic">
         {{ topic.value }}
        </option>
      </select>  -->
      <ng-select appearance="outline" [searchable]="false" formControlName="topic">
        <ng-option [value]="topic" *ngFor="let topic of topics">{{topic}}</ng-option>
      </ng-select>
    </div>

    
  

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input formControlName="timePreferemce" type="radio" class="form-check-input" name="timePreferemce" value="morning">
        <label class="form-check-lable">Morning (9AM to 12PM)</label>
      </div>
      <div class="form-check">
        <input formControlName="timePreferemce" type="radio" class="form-check-input" name="timePreferemce" value="evening">
        <label class="form-check-lable">Evening (5PM to 8PM)</label>
      </div>
    </div>         


    <div class="form-check mb-3">
      <input formControlName="cheak1" type="checkbox" class="form-check-input">
        <label class="form-check-label">
          Send me Promotional offers    
        </label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit Form</button>
    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load Api Data</button>
    <button (click)="edit()" class="btn btn-primary ml-2" type="button" *ngIf="isEdit">Edit form</button>
  </form>
</div> 